body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: bold;
    font-family: roboto;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"minus result plus";
}

h1 {
    text-align: center;
    color: #ed143d;
    grid-area: title;
    font-size: 20pt;
}

span {
    align-self: center;
}

.minus {
    height: 200px;
    width: 200px;
    display: table;
    background-color: #ed143d;
    border-radius: 50% 50%;
    grid-area: minus;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    border: 1px solid #000;
    font-size: 30pt;
    color: #fff;
}

.minus:hover {
    box-shadow: 0 5px 6px #f5a5b5;
    cursor: pointer;
}

.minus:active {
    background-color: #ed143d;
    box-shadow: 0 5px #f5a5b5;
    transform: translateY(4px);
}

.result {
    display: table;
    height: 400px;
    width: 400px;
    background-color: coral;
    border-radius: 50%;
    grid-area: result;
    box-sizing: border-box;
    border: 2px solid #f00;
    color: #fff;
    font-size: 20pt;
    align-self: center;
    justify-self: center;
}

.result:hover {
    box-shadow: 0 5px 6px #f5a5b5;
    cursor: pointer;
}

#symbol-result {
    color: #ffffff;
    text-align: center;
    font-family: lato;
    font-size: 112pt;
}

.plus {
    height: 200px;
    width: 200px;
    background-color: #ed143d;
    border-radius: 50% 50%;
    grid-area: plus;
    align-self: center;
    justify-self: center;
    font-size: 30pt;
    text-align: center;
    color: #fff;
}

.plus:hover {
    box-shadow: 0 5px 6px #f5a5b5;
    cursor: pointer;
}

.plus:active {
    background-color: #ed143d;
    box-shadow: 0 5px #f5a5b5;
    transform: translateY(4px);
}

.txt-center {
    height: 200px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
}
